{% extends "base.html" %}

{% block title %}Departments{% endblock %}

{% block content %}
    <h1 class="text-center display-5 fw-bold mt-3">Our Departments</h1>
    <p class="text-center lead text-muted mb-5">
        Explore our wide range of medical specialties, each staffed by experienced professionals dedicated to providing exceptional care.
    </p>


    {% for d in dept %}
    <div class="container  border rounded bg-light text-center p-3 mb-3">
        <h3>{{d.dep_name}}</h3>
        <p>{{d.dep_description}}</p>
    </div>
    {% endfor %}

{% endblock %}